<h1>Hey Harshilsinh</h1>
<p>Time to turn towards Angular from React</p>
<h1 class="harshil" >{{title}}</h1>
<h1>{{data}}</h1>
<h1>{{getData()}}</h1>
<h1>{{HarshilYourNotification}}</h1>

<app-login-compo></app-login-compo>
<app-check-compo></app-check-compo>
<div style="display: flex;" >
<button (click)="Decreament()" >-</button>
<p class="Count" > {{count}} </p>
<button (click)="Increament()" >+</button>
</div>
<p id="PrintNoti" ></p>
<p class="harshil" >{{firstName}}</p>
<button (click)="getNotification('Custom Notification')" >Get Notification</button>
<input type="text" #name (input)="getInputData(name.value)" placeholder="Enter You Name">
<br>
<img src="./../assets/Profile.png" alt="" srcset="">
<h1>IF - Else Condition Practice</h1>
<div *ngIf="display; then ShowBlock" ></div>
<ng-template #ShowBlock>
    <div>Block to be hide and show</div>
</ng-template>

<button (click)="handleDisplay()" >Handle Display</button>
<h1 *ngIf="show=='YES'; then ifBlock else elseBlock" ></h1>
<ng-template #ifBlock>
    <h1>If condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Else condition</h1>
</ng-template>

<div [ngSwitch]="color" >
    <h1 *ngSwitchCase="'red'" style="color: red;" >Red</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;" >blue</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;" >green</h1>
    <h1 *ngSwitchCase="'yellow'" style="color: yellow;" >yellow</h1>
    <h1 *ngSwitchDefault style="color: red;" >Unknown</h1>
</div>

<button (click)="handleColor('red')" >Red</button>
<button (click)="handleColor('blue')" >Blue</button>
<button (click)="handleColor('green')" >Green</button>
<button (click)="handleColor('yellow')" >Yellow</button>
<button (click)="handleColor('MSD')" >Unknown</button>